/** Colors */

/** Primary Color */
$primary-color: #FA4616;
$primary-color-w8: #fb6c45;
$primary-color-w6: #fc9072;
$primary-color-w4: #fdb4a1;
$primary-color-w2: #ffdad1;
$primary-color-o8: rgba(250,69,22,.8);
$primary-color-o6: rgba(250,69,22,.6);
$primary-color-o4: rgba(250,69,22,.4);
$primary-color-o2: rgba(250,69,22,.2);

/** Secondary Color */
$secondary-color: #101820;
$secondary-color-w8: #3e474d;
$secondary-color-w6: #707377;
$secondary-color-w4: #9fa3a6;
$secondary-color-w2: #d0d1d3;
$secondary-color-o8: rgba(16,26,33,.8);
$secondary-color-o6: rgba(16,26,33,.6);
$secondary-color-o4: rgba(16,26,33,.4);
$secondary-color-o2: rgba(16,26,33,.2);

$success-color: #009A82;
$danger-color: #FF3B3B;

/** Gotrend Iconic Fonts */

$icon-shopping-bag: "\e900";
$icon-wishlist: "\e901";
$icon-user: "\e902";
$icon-share: "\e903";
$icon-search: "\e904";
$icon-home: "\e905";
$icon-categories: "\e906";
$icon-time: "\e907";
$icon-credit-card: "\e908";
$icon-card-secure: "\e909";
$icon-order: "\e90a";
$icon-order-out: "\e90b";
$icon-pin: "\e90c";
$icon-checked: "\e90d";
$icon-arrow-left: "\e90e";
$icon-arrow-right: "\e90f";
$icon-arrow-up: "\e910";
$icon-arrow-down: "\e911";
$icon-more-h: "\e912";
$icon-more-v: "\e913";
$icon-upload: "\e914";
$icon-check-mark: "\e915";
$icon-women: "\e916";
$icon-men: "\e917";
$icon-kids: "\e918";
$icon-order-return: "\e919";
$icon-order-status: "\e91a";
$icon-account-info: "\e91b";
$icon-address-book: "\e91c";
$icon-info: "\e91d";
$icon-question: "\e91e";
$icon-email: "\e91f";
$icon-add: "\e920";
$icon-close: "\e921";
$icon-gotrend-icons-35: "\e922";
$icon-delivery-truck-out: "\e923";
$icon-delivery-shipped: "\e924";
$icon-delivery-onway: "\e925";
$icon-delivery-arrived: "\e926";
$icon-doc: "\e927";
$icon-navigation: "\e928";
$icon-gift-card: "\e929";
$icon-review: "\e92a";
$icon-discount: "\e92b";
$icon-wallet: "\e92c";
$icon-copy: "\e92d";
$icon-calendar: "\e92e";
$icon-coin: "\e92f";
$icon-lock: "\e930";
$icon-bill: "\e931";
$icon-scan-code: "\e932";
$icon-bar-code: "\e933";
$icon-camera: "\e934";
$icon-cash: "\e935";
$icon-voucher: "\e936";
$icon-logout: "\e937";
$icon-desktop: "\e938";
$icon-mobile: "\e939";
$icon-delivered: "\e93a";
$icon-faq: "\e93b";
$icon-email-opened: "\e93c";
$icon-birthday: "\e93d";
$icon-printer: "\e93e";
$icon-view-doc: "\e93f";
$icon-happy: "\e940";
$icon-filters: "\e941";
$icon-sort: "\e942";
$icon-qr-code: "\e943";
$icon-social-whatsapp: "\e944";
$icon-social-instagram: "\e945";
$icon-social-linkedin: "\e946";
$icon-social-linkedin-alt: "\e947";
$icon-social-facebook: "\e948";
$icon-social-facebook-alt: "\e949";
$icon-social-youtube: "\e94a";
$icon-social-messenger: "\e94b";
$icon-social-twitter: "\e94c";
$icon-sad: "\e94d";
$icon-warning: "\e94e";
$icon-mic: "\e94f";
$icon-link: "\e950";
$icon-secure: "\e951";
$icon-eye-show: "\e952";
$icon-eye-hide: "\e953";
$icon-edit: "\e954";
$icon-feedback: "\e955";
$icon-support: "\e956";
$icon-play: "\e957";
$icon-delete: "\e958";
$icon-idea: "\e959";
$icon-student: "\e95a";
$icon-chevron-left: "\e95b";
$icon-chevron-right: "\e95c";
$icon-chevron-up: "\e95d";
$icon-chevron-down: "\e95e";
$icon-bank: "\e95f";
$icon-megaphone: "\e960";
$icon-flash: "\e961";
$icon-surprise: "\e962";
$icon-coat: "\e963";
$icon-hoodie: "\e964";
$icon-ice-cap: "\e965";
$icon-jumber: "\e966";
$icon-sleeveless-shirt: "\e967";
$icon-polo-shirt: "\e968";
$icon-shirt: "\e969";
$icon-blezer: "\e96a";
$icon-shirt-alt: "\e96b";
$icon-vest: "\e96c";
$icon-shorts: "\e96d";
$icon-shorts-denim: "\e96e";
$icon-dress: "\e96f";
$icon-underwear: "\e970";
$icon-t-shirt: "\e971";
$icon-jeans: "\e972";
$icon-women-top: "\e973";
$icon-bow: "\e974";
$icon-belt: "\e975";
$icon-cap: "\e976";
$icon-shoes: "\e977";
$icon-skirt: "\e978";
$icon-boot: "\e979";
$icon-slipper: "\e97a";
$icon-high-heel: "\e97b";
$icon-snesker: "\e97c";
$icon-hanger: "\e97d";
$icon-bell: "\e97e";
$icon-settings: "\e97f";
$icon-call: "\e980";
$icon-chat: "\e981";
$icon-mobile-pay: "\e982";
$icon-social-tiktok: "\e983";
$icon-question-alt: "\e984";
$icon-account-checked: "\e985";
$icon-add-group: "\e986";
$icon-tag: "\e987";
$icon-bug: "\e988";
$icon-performance: "\e989";
$icon-key: "\e98a";
$icon-timer: "\e98b";
$icon-chat-alt: "\e98c";
$icon-location: "\e98d";
$icon-attachment: "\e98e";
$icon-price-drop: "\e98f";
$icon-notch:  "\e990";
$icon-navbar: "\e991";
