@import "variables/variables";

/** Background Colors */

.gotrend-primary-bg-color {
    background: $primary-color;
}

.gotrend-secondary-bg-color {
    background: $secondary-color;
}

.gotrend-success-bg-color {
    background: $success-color;
}

.gotrend-danger-bg-color {
    background: $danger-color;
}

/** Primary Colors */

.gotrend-primary-color {
    color: $primary-color;
}

.gotrend-primary-color-w8 {
    color: $primary-color-w8;
}

.gotrend-primary-color-w6 {
    color: $primary-color-w6;
}

.gotrend-primary-color-w4 {
    color: $primary-color-w4;
}

.gotrend-primary-color-w2 {
    color: $primary-color-w2;
}

.gotrend-primary-color-o8 {
    color: $primary-color-o8;
}

.gotrend-primary-color-o6 {
    color: $primary-color-o6;
}

.gotrend-primary-color-o4 {
    color: $primary-color-o4;
}

.gotrend-primary-color-o2 {
    color: $primary-color-o2;
}

/** Secondary Colors */

.gotrend-secondary-color {
    color: $secondary-color;
}

.gotrend-secondary-color-w8 {
    color: $secondary-color-w8;
}

.gotrend-secondary-color-w6 {
    color: $secondary-color-w6;
}

.gotrend-secondary-color-w4 {
    color: $secondary-color-w4;
}

.gotrend-secondary-color-w2 {
    color: $secondary-color-w2;
}

.gotrend-secondary-color-o8 {
    color: $secondary-color-o8;
}

.gotrend-secondary-color-o6 {
    color: $secondary-color-o6;
}

.gotrend-secondary-color-o4 {
    color: $secondary-color-o4;
}

.gotrend-secondary-color-o2 {
    color: $secondary-color-o2;
}

/** Others */

.gotrend-success-text {
    color: $success-color;
}

.gotrend-danger-text {
    color: $danger-color;
}
