@import "variables/variables";

@font-face {
    font-family: 'Gotrend Iconic';
    src: url('fonts/gotrend.eot?7gp4qx');
    src: url('fonts/gotrend.eot?7gp4qx#iefix') format('embedded-opentype'),
    url('fonts/gotrend.ttf?7gp4qx') format('truetype'),
    url('fonts/gotrend.woff?7gp4qx') format('woff'),
    url('fonts/gotrend.svg?7gp4qx#gotrend') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

.gotrend {
    font-family: 'Gotrend Iconic', sans-serif !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.gotrend-spin {
    animation: spin 1s infinite linear;
}

@-webkit-keyframes spin {
	0% {
		-webkit-transform: rotateZ(0deg);
		transform: rotateZ(0deg);
	}
	100% {
        -webkit-transform: rotateZ(360deg);
		transform: rotateZ(360deg);
	}
}

.icon-shopping-bag {
    &:before {
        content: $icon-shopping-bag;
    }
}

.icon-wishlist {
    &:before {
        content: $icon-wishlist;
    }
}

.icon-user,
.icon-account {
    &:before {
        content: $icon-user;
    }
}

.icon-share {
    &:before {
        content: $icon-share;
    }
}

.icon-search {
    &:before {
        content: $icon-search;
    }
}

.icon-home {
    &:before {
        content: $icon-home;
    }
}

.icon-categories {
    &:before {
        content: $icon-categories;
    }
}

.icon-time {
    &:before {
        content: $icon-time;
    }
}

.icon-credit-card {
    &:before {
        content: $icon-credit-card;
    }
}

.icon-card-secure,
.icon-secure-card {
    &:before {
        content: $icon-card-secure;
    }
}

.icon-order {
    &:before {
        content: $icon-order;
    }
}

.icon-order-out,
.icon-order-received {
    &:before {
        content: $icon-order-out;
    }
}

.icon-pin,
.icon-location {
    &:before {
        content: $icon-pin;
    }
}

.icon-checked,
.icon-check-alt {
    &:before {
        content: $icon-checked;
    }
}

.icon-arrow-left {
    &:before {
        content: $icon-arrow-left;
    }
}

.icon-arrow-right {
    &:before {
        content: $icon-arrow-right;
    }
}

.icon-arrow-up {
    &:before {
        content: $icon-arrow-up;
    }
}

.icon-arrow-down {
    &:before {
        content: $icon-arrow-down;
    }
}

.icon-more-h {
    &:before {
        content: $icon-more-h;
    }
}

.icon-more-v {
    &:before {
        content: $icon-more-v;
    }
}

.icon-upload {
    &:before {
        content: $icon-upload;
    }
}

.icon-check-mark,
.icon-check {
    &:before {
        content: $icon-check-mark;
    }
}

.icon-women {
    &:before {
        content: $icon-women;
    }
}

.icon-men {
    &:before {
        content: $icon-men;
    }
}

.icon-kids {
    &:before {
        content: $icon-kids;
    }
}

.icon-order-return,
.icon-return {
    &:before {
        content: $icon-order-return;
    }
}

.icon-order-status {
    &:before {
        content: $icon-order-status;
    }
}

.icon-account-info {
    &:before {
        content: $icon-account-info;
    }
}

.icon-address-book {
    &:before {
        content: $icon-address-book;
    }
}

.icon-info {
    &:before {
        content: $icon-info;
    }
}

.icon-question {
    &:before {
        content: $icon-question;
    }
}

.icon-email {
    &:before {
        content: $icon-email;
    }
}

.icon-add {
    &:before {
        content: $icon-add;
    }
}

.icon-close {
    &:before {
        content: $icon-close;
    }
}

.icon-gotrend-icons-35,
.icon-delivery-truck {
    &:before {
        content: $icon-gotrend-icons-35;
    }
}

.icon-delivery-truck-out,
.icon-out-for-delivery {
    &:before {
        content: $icon-delivery-truck-out;
    }
}

.icon-delivery-shipped,
.icon-order-shipped {
    &:before {
        content: $icon-delivery-shipped;
    }
}

.icon-delivery-onway,
.icon-order-onway {
    &:before {
        content: $icon-delivery-onway;
    }
}

.icon-delivery-arrived,
.icon-order-delivered {
    &:before {
        content: $icon-delivery-arrived;
    }
}

.icon-doc,
.icon-documents {
    &:before {
        content: $icon-doc;
    }
}

.icon-navigation {
    &:before {
        content: $icon-navigation;
    }
}

.icon-gift-card {
    &:before {
        content: $icon-gift-card;
    }
}

.icon-review,
.icon-rate {
    &:before {
        content: $icon-review;
    }
}

.icon-discount {
    &:before {
        content: $icon-discount;
    }
}

.icon-wallet {
    &:before {
        content: $icon-wallet;
    }
}

.icon-copy {
    &:before {
        content: $icon-copy;
    }
}

.icon-calendar {
    &:before {
        content: $icon-calendar;
    }
}

.icon-coin {
    &:before {
        content: $icon-coin;
    }
}

.icon-lock {
    &:before {
        content: $icon-lock;
    }
}

.icon-bill {
    &:before {
        content: $icon-bill;
    }
}

.icon-scan-code,
.icon-scan {
    &:before {
        content: $icon-scan-code;
    }
}

.icon-bar-code,
.icon-barcode {
    &:before {
        content: $icon-bar-code;
    }
}

.icon-camera {
    &:before {
        content: $icon-camera;
    }
}

.icon-cash,
.icon-cash-alt {
    &:before {
        content: $icon-cash;
    }
}

.icon-voucher {
    &:before {
        content: $icon-voucher;
    }
}

.icon-logout {
    &:before {
        content: $icon-logout;
    }
}

.icon-desktop {
    &:before {
        content: $icon-desktop;
    }
}

.icon-mobile {
    &:before {
        content: $icon-mobile;
    }
}

.icon-delivered,
.icon-order-delivered-alt {
    &:before {
        content: $icon-delivered;
    }
}

.icon-faq {
    &:before {
        content: $icon-faq;
    }
}

.icon-email-opened {
    &:before {
        content: $icon-email-opened;
    }
}

.icon-birthday {
    &:before {
        content: $icon-birthday;
    }
}

.icon-printer,
.icon-print {
    &:before {
        content: $icon-printer;
    }
}

.icon-view-doc {
    &:before {
        content: $icon-view-doc;
    }
}

.icon-happy {
    &:before {
        content: $icon-happy;
    }
}

.icon-filters,
.icon-filter {
    &:before {
        content: $icon-filters;
    }
}

.icon-sort {
    &:before {
        content: $icon-sort;
    }
}

.icon-qr-code {
    &:before {
        content: $icon-qr-code;
    }
}

.icon-social-whatsapp,
.icon-whatsapp {
    &:before {
        content: $icon-social-whatsapp;
    }
}

.icon-social-instagram,
.icon-instagram {
    &:before {
        content: $icon-social-instagram;
    }
}

.icon-social-linkedin,
.icon-linkedin {
    &:before {
        content: $icon-social-linkedin;
    }
}

.icon-social-linkedin-alt,
.icon-linkedin-alt{
    &:before {
        content: $icon-social-linkedin-alt;
    }
}

.icon-social-facebook,
.icon-facebook {
    &:before {
        content: $icon-social-facebook;
    }
}

.icon-social-facebook-alt,
.icon-facebook-alt{
    &:before {
        content: $icon-social-facebook-alt;
    }
}

.icon-social-youtube,
.icon-youtube {
    &:before {
        content: $icon-social-youtube;
    }
}

.icon-social-messenger,
.icon-fb-messenger {
    &:before {
        content: $icon-social-messenger;
    }
}

.icon-social-twitter,
.icon-twitter {
    &:before {
        content: $icon-social-twitter;
    }
}

.icon-sad {
    &:before {
        content: $icon-sad;
    }
}

.icon-warning {
    &:before {
        content: $icon-warning;
    }
}

.icon-mic,
.icon-microphone {
    &:before {
        content: $icon-mic;
    }
}

.icon-link {
    &:before {
        content: $icon-link;
    }
}

.icon-secure {
    &:before {
        content: $icon-secure;
    }
}

.icon-eye-show {
    &:before {
        content: $icon-eye-show;
    }
}

.icon-eye-hide {
    &:before {
        content: $icon-eye-hide;
    }
}

.icon-edit {
    &:before {
        content: $icon-edit;
    }
}

.icon-feedback {
    &:before {
        content: $icon-feedback;
    }
}

.icon-support {
    &:before {
        content: $icon-support;
    }
}

.icon-play {
    &:before {
        content: $icon-play;
    }
}

.icon-delete {
    &:before {
        content: $icon-delete;
    }
}

.icon-idea {
    &:before {
        content: $icon-idea;
    }
}

.icon-student,
.icon-student-discount {
    &:before {
        content: $icon-student;
    }
}

.icon-chevron-left {
    &:before {
        content: $icon-chevron-left;
    }
}

.icon-chevron-right {
    &:before {
        content: $icon-chevron-right;
    }
}

.icon-chevron-up {
    &:before {
        content: $icon-chevron-up;
    }
}

.icon-chevron-down {
    &:before {
        content: $icon-chevron-down;
    }
}

.icon-bank {
    &:before {
        content: $icon-bank;
    }
}

.icon-megaphone {
    &:before {
        content: $icon-megaphone;
    }
}

.icon-flash,
.icon-thunder {
    &:before {
        content: $icon-flash;
    }
}

.icon-surprise,
.icon-gift-box {
    &:before {
        content: $icon-surprise;
    }
}

.icon-coat {
    &:before {
        content: $icon-coat;
    }
}

.icon-hoodie {
    &:before {
        content: $icon-hoodie;
    }
}

.icon-ice-cap {
    &:before {
        content: $icon-ice-cap;
    }
}

.icon-jumber,
.icon-sweet-shirt {
    &:before {
        content: $icon-jumber;
    }
}

.icon-sleeveless-shirt {
    &:before {
        content: $icon-sleeveless-shirt;
    }
}

.icon-polo-shirt {
    &:before {
        content: $icon-polo-shirt;
    }
}

.icon-shirt {
    &:before {
        content: $icon-shirt;
    }
}

.icon-blezer {
    &:before {
        content: $icon-blezer;
    }
}

.icon-shirt-alt {
    &:before {
        content: $icon-shirt-alt;
    }
}

.icon-vest {
    &:before {
        content: $icon-vest;
    }
}

.icon-shorts {
    &:before {
        content: $icon-shorts;
    }
}

.icon-shorts-denim {
    &:before {
        content: $icon-shorts-denim;
    }
}

.icon-dress {
    &:before {
        content: $icon-dress;
    }
}

.icon-underwear {
    &:before {
        content: $icon-underwear;
    }
}

.icon-t-shirt,
.icon-tshirt {
    &:before {
        content: $icon-t-shirt;
    }
}

.icon-jeans,
.icon-pants {
    &:before {
        content: $icon-jeans;
    }
}

.icon-women-top {
    &:before {
        content: $icon-women-top;
    }
}

.icon-bow {
    &:before {
        content: $icon-bow;
    }
}

.icon-belt {
    &:before {
        content: $icon-belt;
    }
}

.icon-cap {
    &:before {
        content: $icon-cap;
    }
}

.icon-shoes {
    &:before {
        content: $icon-shoes;
    }
}

.icon-skirt {
    &:before {
        content: $icon-skirt;
    }
}

.icon-boot {
    &:before {
        content: $icon-boot;
    }
}

.icon-slipper,
.icon-flip-flop {
    &:before {
        content: $icon-slipper;
    }
}

.icon-high-heel {
    &:before {
        content: $icon-high-heel;
    }
}

.icon-sneakers {
    &:before {
        content: $icon-snesker;
    }
}

.icon-hanger {
    &:before {
        content: $icon-hanger;
    }
}

.icon-bell, .icon-alert {
    &:before {
        content: $icon-bell;
    }
}

.icon-settings {
    &:before {
        content: $icon-settings;
    }
}

.icon-call,
.icon-phone {
    &:before {
        content: $icon-call;
    }
}

.icon-chat {
    &:before {
        content: $icon-chat;
    }
}

.icon-mobile-pay {
    &:before {
        content: $icon-mobile-pay;
    }
}

.icon-social-tiktok,
.icon-tiktok {
    &:before {
        content: $icon-social-tiktok;
    }
}

.icon-question-alt {
    &:before {
        content: $icon-question-alt;
    }
}

.icon-account-checked,
.icon-account-verified {
    &:before {
        content: $icon-account-checked;
    }
}

.icon-add-group {
    &:before {
        content: $icon-add-group;
    }
}

.icon-tag {
    &:before {
        content: $icon-tag;
    }
}

.icon-bug {
    &:before {
        content: $icon-bug;
    }
}

.icon-performance {
    &:before {
        content: $icon-performance;
    }
}

.icon-key {
    &:before {
        content: $icon-key;
    }
}

.icon-timer {
    &:before {
        content: $icon-timer;
    }
}

.icon-chat-alt {
    &:before {
        content: $icon-chat-alt;
    }
}

.icon-location {
    &:before {
        content: $icon-location;
    }
}

.icon-attachment,
.icon-attach {
    &:before {
        content: $icon-attachment;
    }
}

.icon-price-drop {
    &:before {
        content: $icon-price-drop;
    }
}

.icon-notch {
    &:before {
        content: $icon-notch;
    }
}

.icon-navbar {
    &:before {
        content: $icon-navbar;
    }
}
